Repository zombar/tunnelmesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint, js-lint, js-test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.go"
      run: gofmt -l {staged_files} | xargs -r false
      fail_text: "Run 'gofmt -w .' to fix formatting"
    tidy:
      run: go mod tidy && git diff --exit-code go.mod go.sum
      fail_text: "Run 'go mod tidy' and stage the changes"
    lint:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD
      fail_text: "Fix linting errors before committing"
    js-lint:
      glob: "internal/coord/web/js/**/*.js"
      run: biome check internal/coord/web/js/
      fail_text: "Fix JS linting errors: run 'biome check --write internal/coord/web/js/'"
    js-test:
      glob: "internal/coord/web/js/**/*.js"
      run: cd internal/coord/web && (command -v bun >/dev/null 2>&1 && bun test || ~/.bun/bin/bun test)
      fail_text: "JS tests failed"

pre-push:
  parallel: true
  commands:
    test:
      run: go test -race ./...
      fail_text: "Tests failed"

Add streaming reads and reduce GC lock contention
  internal/coord/s3/store.go
  internal/coord/s3/store_test.go
Due: fmt, lint

Address PR review: chunker fix, hash verification, security docs
  internal/coord/s3/cas.go
  internal/coord/s3/chunker.go
Due: fmt, lint

Improve version history UI: square buttons, friendly timestamps, read-only handling
  internal/coord/web/css/style.css
  internal/coord/web/js/__tests__/format.test.js
  internal/coord/web/js/app.js
  internal/coord/web/js/lib/format.js
  internal/coord/web/js/s3explorer.js
Due: js-lint, js-test

Improve version history table: right-align columns, show filename as primary text
  internal/coord/web/css/style.css
  internal/coord/web/js/s3explorer.js
Due: none

Refactor version history modal and reorganize Data tab layout
  internal/coord/web/css/style.css
  internal/coord/web/index.html
  internal/coord/web/js/app.js
  internal/coord/web/js/s3explorer.js
Due: none

Fix share creation auth: identify users by mesh IP when no client cert
  internal/coord/admin.go
  internal/coord/server.go
Due: fmt, lint

Fix version history modal: scrollbar in body only, square button corners
  internal/coord/web/css/style.css
Due: none

Add S3 object versioning with content-addressed storage (#186)
  go.mod
  go.sum
  internal/config/config.go
  internal/coord/admin.go
  internal/coord/nfs/filesystem_test.go
  internal/coord/nfs/server_test.go
  internal/coord/s3/cas.go
  internal/coord/s3/chunker.go
  internal/coord/s3/fileshare_test.go
  internal/coord/s3/metrics.go
  internal/coord/s3/server_test.go
  internal/coord/s3/store.go
  internal/coord/s3/store_test.go
  internal/coord/s3/system_test.go
  internal/coord/server.go
  internal/coord/web/css/style.css
  internal/coord/web/index.html
  internal/coord/web/js/__tests__/format.test.js
  internal/coord/web/js/app.js
  internal/coord/web/js/lib/format.js
  internal/coord/web/js/s3explorer.js
Due: fmt, lint, js-lint, js-test

Add narrative-driven S3 stress testing framework
  internal/s3bench/documents/battle_report.go
  internal/s3bench/documents/generators.go
  internal/s3bench/documents/templates.go
  internal/s3bench/story/registry.go
  internal/s3bench/story/registry_test.go
  internal/s3bench/story/scenarios/alien_invasion.go
  internal/s3bench/story/scenarios/alien_invasion_test.go
  internal/s3bench/story/story.go
  internal/s3bench/story/story_test.go
Due: fmt, lint

Simplify document generation to title templates + lorem ipsum
  internal/s3bench/documents/battle_report.go
  internal/s3bench/documents/generators.go
  internal/s3bench/documents/lorem.go
  internal/s3bench/documents/templates.go
  internal/s3bench/story/scenarios/alien_invasion.go
  internal/s3bench/story/scenarios/alien_invasion_test.go
Due: fmt, lint

Add workload generator for story-driven document operations
  internal/s3bench/simulator/workload.go
  internal/s3bench/simulator/workload_test.go
Due: fmt, lint

Add adversary simulator for RBAC stress testing
  internal/s3bench/simulator/adversary.go
  internal/s3bench/simulator/adversary_test.go
Due: fmt, lint

Add mesh orchestrator for peer lifecycle management
  internal/s3bench/simulator/mesh.go
  internal/s3bench/simulator/mesh_test.go
Due: fmt, lint

Add workflow tester for comprehensive S3 feature testing
  internal/s3bench/simulator/workflow.go
  internal/s3bench/simulator/workflow_test.go
Due: fmt, lint

Add main simulator orchestrator
  internal/s3bench/simulator/simulator.go
  internal/s3bench/simulator/simulator_test.go
Due: fmt, lint

Add user session management for S3 stress testing simulator
  internal/s3bench/simulator/users.go
  internal/s3bench/simulator/users_test.go
Due: fmt, lint

Add CLI tool for story-driven S3 stress testing
  cmd/tunnelmesh-s3bench/main.go
Due: fmt, lint

Implement actual S3 operations in simulator
  cmd/tunnelmesh-s3bench/main.go
  internal/s3bench/simulator/simulator.go
Due: fmt, lint

Increase document versions to 2-4 for versioning stress testing
  internal/s3bench/story/scenarios/alien_invasion.go
Due: fmt, lint

Add tunnelmesh-s3bench to release builds
  Makefile
Due: none

Add 5-minute stress test with 10K operations for make test
  internal/s3bench/simulator/stress_test.go
  internal/s3bench/story/scenarios/alien_invasion.go
Due: fmt, lint

Skip stress test in pre-push hook with -short flag
  lefthook.yml
Due: none

Fix RBAC testing and implement workflow execution
  internal/s3bench/simulator/simulator.go
  internal/s3bench/simulator/stress_test.go
Due: fmt, lint

Adjust short test timing to account for workflow execution overhead
  internal/s3bench/simulator/stress_test.go
Due: fmt, lint

Remove tests from pre-push hook - run via CI instead
  lefthook.yml
Due: none

Address critical PR review issues
  internal/s3bench/simulator/simulator.go
  internal/s3bench/simulator/workload.go
  internal/s3bench/story/story.go
Due: fmt, lint

Add HTTP server testing to S3 benchmark (Phase 1 network testing)
  internal/s3bench/simulator/simulator.go
  internal/s3bench/simulator/stress_test.go
Due: fmt, lint

Add TUN loopback testing to S3 benchmark (Phase 2 network testing)
  internal/s3bench/simulator/stress_test.go
Due: fmt, lint

Document network testing phases for S3 benchmark
  internal/s3bench/NETWORK_TESTING.md
Due: none

Address PR review: concurrent uploads, context cancellation, error handling
  internal/s3bench/simulator/simulator.go
Due: fmt, lint

Make HTTP testing the default, remove USE_HTTP flag
  internal/s3bench/NETWORK_TESTING.md
  internal/s3bench/simulator/simulator.go
  internal/s3bench/simulator/stress_test.go
Due: fmt, lint

Add extensible panel system with RBAC-based visibility control
  CLAUDE.md
  internal/auth/authorizer.go
  internal/auth/binding.go
  internal/auth/group_binding.go
  internal/auth/panel.go
  internal/auth/panel_test.go
  internal/auth/role.go
  internal/auth/role_test.go
  internal/coord/admin.go
  internal/coord/web/css/style.css
  internal/coord/web/index.html
  internal/coord/web/js/__tests__/panel.test.js
  internal/coord/web/js/app.js
  internal/coord/web/js/lib/panel.js
  internal/coord/web/js/visualizer.js
Due: fmt, lint, js-lint, js-test

Fix dashboard panel permissions and add RBAC logging
  internal/auth/authorizer.go
  internal/coord/s3/auth.go
  internal/coord/server.go
Due: fmt, lint

Address security review comments for panel system
  internal/auth/panel.go
  internal/coord/admin.go
  internal/coord/s3/system.go
  internal/coord/server.go
  internal/coord/web/js/lib/panel.js
Due: fmt, lint, js-lint, js-test

Address additional review comments
  internal/auth/authorizer.go
  internal/auth/panel.go
  internal/coord/admin.go
Due: fmt, lint

Fix peer logs panel resize handle
  internal/coord/web/css/style.css
Due: none

Fix flaky formatExpiry test
  internal/coord/web/js/__tests__/format.test.js
Due: js-lint, js-test

Add tests for panel API handlers
  internal/coord/admin_test.go
Due: fmt, lint

Fix peer-to-user identity mapping for dashboard RBAC
  internal/auth/group.go
  internal/auth/user.go
  internal/config/keys.go
  internal/coord/admin.go
  internal/coord/server.go
Due: fmt, lint

Simplify identity: peer = user, remove separate user system
  cmd/tunnelmesh/main.go
  cmd/tunnelmesh/user.go
  go.mod
  go.sum
  internal/auth/group.go
  internal/auth/mnemonic.go
  internal/auth/mnemonic_test.go
  internal/auth/user.go
  internal/auth/user_test.go
  internal/config/keys.go
  internal/coord/server.go
  internal/peer/identity.go
  pkg/proto/messages.go
Due: fmt, lint
