Repository zombar/tunnelmesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint, js-lint, js-test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.go"
      run: gofmt -l {staged_files} | xargs -r false
      fail_text: "Run 'gofmt -w .' to fix formatting"
    tidy:
      run: go mod tidy && git diff --exit-code go.mod go.sum
      fail_text: "Run 'go mod tidy' and stage the changes"
    lint:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD
      fail_text: "Fix linting errors before committing"
    js-lint:
      glob: "internal/coord/web/js/**/*.js"
      run: biome check internal/coord/web/js/
      fail_text: "Fix JS linting errors: run 'biome check --write internal/coord/web/js/'"
    js-test:
      glob: "internal/coord/web/js/**/*.js"
      run: cd internal/coord/web && (command -v bun >/dev/null 2>&1 && bun test || ~/.bun/bin/bun test)
      fail_text: "JS tests failed"

pre-push:
  parallel: true
  commands:
    test:
      run: go test -race ./...
      fail_text: "Tests failed"

Add expiry field to S3 object listings
  internal/coord/admin.go
  internal/coord/s3/server.go
  internal/coord/s3/store.go
  internal/coord/web/css/style.css
  internal/coord/web/index.html
  internal/coord/web/js/s3explorer.js
Due: fmt, lint

Change S3 max_size to use Kubernetes-style size notation
  docker/config/server.yaml
  docs/S3_STORAGE.md
  internal/config/config.go
  internal/coord/admin_test.go
  internal/coord/s3/quota.go
  internal/coord/s3/quota_test.go
  internal/coord/s3/store_test.go
  internal/coord/server.go
  internal/coord/server_test.go
  pkg/bytesize/bytesize.go
  server.yaml.example
Due: fmt, lint

Add quota columns to file shares and buckets tables
  internal/coord/admin.go
  internal/coord/web/css/style.css
  internal/coord/web/index.html
  internal/coord/web/js/app.js
  internal/coord/web/js/s3explorer.js
Due: fmt, lint

Sort role bindings table by user/group name
  internal/coord/web/js/app.js
Due: none

Default file share quota to 100 MB
  internal/coord/web/index.html
  internal/coord/web/js/app.js
Due: none

Make user expiration configurable, default to 9 months
  internal/auth/user.go
  internal/auth/user_test.go
  internal/config/config.go
  internal/coord/admin.go
  internal/coord/server.go
  internal/coord/web/js/__tests__/format.test.js
  internal/coord/web/js/app.js
  internal/coord/web/js/lib/format.js
  internal/coord/web/js/s3explorer.js
Due: fmt, lint, js-lint, js-test

Add configurable expiry for objects and file shares
  internal/config/config.go
  internal/config/config_test.go
  internal/coord/s3/fileshare.go
  internal/coord/s3/fileshare_test.go
  internal/coord/s3/store.go
  internal/coord/s3/store_test.go
  internal/coord/s3/system.go
  internal/coord/server.go
  internal/coord/web/index.html
  internal/coord/web/js/app.js
Due: fmt, lint

Implement object tombstoning with lifecycle management
  internal/config/config.go
  internal/config/config_test.go
  internal/coord/admin.go
  internal/coord/admin_test.go
  internal/coord/s3/fileshare.go
  internal/coord/s3/fileshare_test.go
  internal/coord/s3/server_test.go
  internal/coord/s3/store.go
  internal/coord/s3/store_test.go
  internal/coord/s3/system.go
  internal/coord/web/css/style.css
  internal/coord/web/js/s3explorer.js
Due: fmt, lint

Show 'Protected' for built-in groups in Actions column
  internal/coord/web/js/app.js
Due: none

Fix expiry date formatting and skip expiry for system bucket
  internal/coord/s3/store.go
  internal/coord/web/index.html
  internal/coord/web/js/app.js
  internal/coord/web/js/s3explorer.js
Due: fmt, lint

Use shared formatExpiry utility in S3 explorer
  internal/coord/web/js/s3explorer.js
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#184)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Include group bindings in role bindings API response
  internal/coord/admin.go
  internal/coord/s3/fileshare.go
Due: fmt, lint

File share delete tombstones content, recreate restores it
  internal/coord/s3/fileshare.go
  internal/coord/s3/fileshare_test.go
  internal/coord/s3/store.go
  internal/coord/web/index.html
  internal/coord/web/js/s3explorer.js
Due: fmt, lint

Use bucket-level tombstoning for O(1) file share delete/restore
  internal/coord/s3/fileshare.go
  internal/coord/s3/store.go
Due: fmt, lint

Add tests for bucket tombstoning and delete-twice-to-purge
  internal/coord/s3/store_test.go
Due: fmt, lint

Address PR security review comments
  cmd/tunnelmesh/main.go
  internal/coord/admin.go
  internal/coord/admin_test.go
  internal/coord/s3/fileshare.go
  internal/coord/s3/store.go
  internal/coord/server.go
Due: fmt, lint

Fix: Hide quota column when viewing files inside bucket
  internal/coord/web/js/s3explorer.js
Due: none

Address remaining PR review issues
  internal/coord/s3/store.go
Due: fmt, lint

Address second round of PR review feedback
  internal/coord/admin.go
  internal/coord/s3/store.go
  internal/coord/web/js/s3explorer.js
Due: fmt, lint

Address third round of PR review feedback
  docs/S3_STORAGE.md
  internal/coord/admin.go
  internal/coord/s3/fileshare.go
  internal/coord/s3/store.go
  server.yaml.example
Due: fmt, lint

Add dynamic NFS port to service ports when file shares exist
  internal/coord/server.go
Due: fmt, lint

Add NFS server startup and fix group binding protection
  cmd/tunnelmesh/main.go
  internal/auth/group_binding.go
  internal/coord/admin.go
  internal/coord/server.go
Due: fmt, lint

Add file share options (expiry, guest read) and NFS docs
  README.md
  docs/NFS.md
  docs/S3_STORAGE.md
  docs/WIREGUARD.md
  internal/coord/admin.go
  internal/coord/s3/fileshare.go
  internal/coord/s3/fileshare_test.go
  internal/coord/s3/system.go
  internal/coord/web/index.html
  internal/coord/web/js/app.js
Due: fmt, lint

Update guest read label wording
  docs/NFS.md
  docs/S3_STORAGE.md
  internal/coord/web/index.html
Due: none

Address PR security review feedback
  internal/coord/admin.go
  internal/coord/s3/quota.go
  internal/coord/s3/store.go
  internal/coord/s3/store_test.go
Due: fmt, lint

Address PR review round 2: quota rollback, error handling, null bytes
  internal/coord/admin.go
  internal/coord/s3/store.go
  internal/coord/s3/store_test.go
Due: fmt, lint

Add S3 metrics fix, security audit logging, and alert categorization
  internal/auth/authorizer.go
  internal/coord/s3/server.go
  internal/logging/audit/audit.go
  internal/logging/audit/audit_test.go
  monitoring/prometheus/alerts.yml
Due: fmt, lint

Adjust S3 quota alert thresholds
  monitoring/prometheus/alerts.yml
Due: none

Fix race condition in audit logger access
  internal/auth/authorizer.go
Due: fmt, lint

Address PR review feedback
  internal/coord/s3/server.go
  monitoring/prometheus/alerts.yml
Due: fmt, lint

Improve S3 metrics status classification
  internal/coord/s3/server.go
Due: fmt, lint

Reorganize alerts by severity instead of component
  monitoring/prometheus/alerts.yml
Due: none

Address PR review feedback (critical issues)
  internal/auth/authorizer.go
  internal/coord/s3/server.go
  monitoring/prometheus/alerts.yml
Due: fmt, lint

Add S3 object versioning with content-addressed storage
  go.mod
  go.sum
  internal/config/config.go
  internal/coord/admin.go
  internal/coord/nfs/filesystem_test.go
  internal/coord/nfs/server_test.go
  internal/coord/s3/cas.go
  internal/coord/s3/chunker.go
  internal/coord/s3/fileshare_test.go
  internal/coord/s3/server_test.go
  internal/coord/s3/store.go
  internal/coord/s3/store_test.go
  internal/coord/s3/system_test.go
  internal/coord/server.go
  internal/coord/web/css/style.css
  internal/coord/web/index.html
  internal/coord/web/js/s3explorer.js
Due: fmt, lint

Fix chunk GC and add smart version retention
  internal/config/config.go
  internal/coord/s3/store.go
  internal/coord/server.go
Due: fmt, lint

Address PR review: security fixes, error handling, and metrics
  internal/coord/s3/cas.go
  internal/coord/s3/metrics.go
  internal/coord/s3/store.go
  internal/coord/server.go
Due: fmt, lint

Fix Windows path traversal test failure
  internal/coord/s3/store.go
Due: fmt, lint
