Repository zombar/tunnelmesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint, js-lint, js-test

fmt:
  run: gofmt -l {staged_files} | xargs -r false
  fail_text: Run 'gofmt -w .' to fix formatting

lint:
  run: golangci-lint run --new-from-rev=HEAD
  fail_text: Fix linting errors before committing

js-lint:
  run: biome check internal/coord/web/js/
  fail_text: 'Fix JS linting errors: run ''biome check --write internal/coord/web/js/'''

js-test:
  run: cd internal/coord/web && (command -v bun >/dev/null 2>&1 && bun test || ~/.bun/bin/bun test)
  fail_text: JS tests failed

Remove user commands from scripts/docs, fix dashboard display
  Makefile
  README.md
  cmd/tunnelmesh/buckets.go
  cmd/tunnelmesh/main.go
  docker/scripts/client-entrypoint.sh
  docs/USER_IDENTITY.md
  internal/coord/server.go
  internal/coord/web/js/app.js
Due: fmt, lint

Simplify identity: peer = user, remove separate user system (#192)
  CLAUDE.md
  Makefile
  README.md
  cmd/tunnelmesh/buckets.go
  cmd/tunnelmesh/main.go
  cmd/tunnelmesh/user.go
  docker/scripts/client-entrypoint.sh
  docs/USER_IDENTITY.md
  go.mod
  go.sum
  internal/auth/authorizer.go
  internal/auth/binding.go
  internal/auth/group.go
  internal/auth/group_binding.go
  internal/auth/mnemonic.go
  internal/auth/mnemonic_test.go
  internal/auth/panel.go
  internal/auth/panel_test.go
  internal/auth/role.go
  internal/auth/role_test.go
  internal/auth/user.go
  internal/auth/user_test.go
  internal/config/keys.go
  internal/coord/admin.go
  internal/coord/admin_test.go
  internal/coord/s3/auth.go
  internal/coord/s3/system.go
  internal/coord/server.go
  internal/coord/web/css/style.css
  internal/coord/web/index.html
  internal/coord/web/js/__tests__/format.test.js
  internal/coord/web/js/__tests__/panel.test.js
  internal/coord/web/js/app.js
  internal/coord/web/js/lib/panel.js
  internal/coord/web/js/visualizer.js
  internal/peer/identity.go
  pkg/proto/messages.go
Due: fmt, lint, js-lint, js-test

Fix CI: Update golangci-lint to v1.64.8 and run gofmt
  .github/workflows/ci.yml
  .golangci.yml
  cmd/tunnelmesh/main.go
  cmd/tunnelmesh/share.go
  internal/coord/admin.go
  internal/coord/nfs/filesystem.go
  internal/coord/wireguard/store.go
  internal/coord/wireguard/store_test.go
  internal/logging/audit/audit_test.go
  internal/logging/loki/writer_test.go
  internal/mesh/constants.go
  internal/peer/connection/fsm.go
  internal/peer/connection/fsm_test.go
  internal/peer/ssh_test.go
  internal/peer/tunnel_test.go
  internal/peer/wireguard/router.go
  internal/peer/wireguard/store.go
  internal/peer/wireguard/wgdevice_test.go
  internal/tunnel/tunnel.go
Due: fmt, lint

Use latest golangci-lint version in CI
  .github/workflows/ci.yml
Due: none

Remove version parameter from golangci-lint-action
  .github/workflows/ci.yml
Due: none

Use golangci-lint-action v6 for proper version support
  .github/workflows/ci.yml
Due: none

Install golangci-lint from source and exclude vendor/ from PR diffs
  .gitattributes
  .github/workflows/ci.yml
Due: none

Pin golangci-lint to v2.8.0 for config compatibility
  .github/workflows/ci.yml
Due: none

Fix golangci-lint v2 module path
  .github/workflows/ci.yml
Due: none

Fix errorlint warning for unix syscall error comparison
  internal/netmon/monitor_linux.go
Due: fmt, lint

Fix golangci-lint issues in s3bench package
  internal/s3bench/documents/templates.go
  internal/s3bench/simulator/mesh.go
  internal/s3bench/simulator/users.go
  internal/s3bench/story/scenarios/alien_invasion_test.go
Due: fmt, lint

S3 Stress Testing Framework with Story-Driven Workloads (#187)
  Makefile
  cmd/tunnelmesh-s3bench/main.go
  internal/s3bench/NETWORK_TESTING.md
  internal/s3bench/documents/generators.go
  internal/s3bench/documents/lorem.go
  internal/s3bench/documents/templates.go
  internal/s3bench/simulator/adversary.go
  internal/s3bench/simulator/adversary_test.go
  internal/s3bench/simulator/mesh.go
  internal/s3bench/simulator/mesh_test.go
  internal/s3bench/simulator/simulator.go
  internal/s3bench/simulator/simulator_test.go
  internal/s3bench/simulator/stress_test.go
  internal/s3bench/simulator/users.go
  internal/s3bench/simulator/users_test.go
  internal/s3bench/simulator/workflow.go
  internal/s3bench/simulator/workflow_test.go
  internal/s3bench/simulator/workload.go
  internal/s3bench/simulator/workload_test.go
  internal/s3bench/story/registry.go
  internal/s3bench/story/registry_test.go
  internal/s3bench/story/scenarios/alien_invasion.go
  internal/s3bench/story/scenarios/alien_invasion_test.go
  internal/s3bench/story/story.go
  internal/s3bench/story/story_test.go
  lefthook.yml
Due: fmt, lint

Add conditional S3 persistence for coordinator data with corruption detection
  internal/coord/admin.go
  internal/coord/relay.go
  internal/coord/s3/system.go
  internal/coord/server.go
  internal/coord/stats_history.go
  internal/coord/stats_history_test.go
Due: fmt, lint

Fix lint issues: errcheck, unused methods, cyclomatic complexity
  internal/coord/s3/system.go
  internal/coord/server.go
Due: fmt, lint

Address PR review feedback: fix race conditions and improve encapsulation
  internal/coord/admin.go
  internal/coord/relay.go
  internal/coord/server.go
Due: fmt, lint

Add conditional S3 persistence with corruption detection and rollback (#195)
  internal/coord/admin.go
  internal/coord/relay.go
  internal/coord/s3/system.go
  internal/coord/server.go
  internal/coord/stats_history.go
  internal/coord/stats_history_test.go
Due: fmt, lint

Make state files human-readable and add filter rule persistence
  cmd/tunnelmesh/filter.go
  internal/control/socket.go
  internal/coord/admin.go
  internal/coord/s3/system.go
  internal/coord/server.go
  internal/routing/filter.go
Due: fmt, lint

Address PR review comments
  internal/coord/admin.go
  internal/coord/server.go
Due: fmt, lint

Add TTL field to admin panel filter UI
  internal/coord/web/index.html
  internal/coord/web/js/app.js
Due: none

Fix expired rule handling and race conditions
  internal/coord/admin.go
  internal/coord/s3/system.go
  internal/coord/server.go
Due: fmt, lint

README banner
  README.md
  docs/images/admin_dashboard.webp
  docs/images/tunnelmesh_banner.webp
Due: none

Tidy docs
  README.md
  docs/images/admin_dashboard.webp
Due: none

Tidy docs
  README.md
Due: none

Add comprehensive test coverage for filter persistence
  internal/control/socket_test.go
  internal/coord/admin.go
  internal/coord/admin_test.go
  internal/coord/s3/system_test.go
  internal/coord/server_test.go
Due: fmt, lint

Fix S3 object viewer to auto-format JSON files
  internal/coord/web/js/s3explorer.js
Due: none

Make state files human-readable and add filter rule persistence (#251)
  README.md
  cmd/tunnelmesh/filter.go
  docs/images/admin-dashboard.webp
  docs/images/tunnelmesh_banner.webp
  internal/control/socket.go
  internal/control/socket_test.go
  internal/coord/admin.go
  internal/coord/admin_test.go
  internal/coord/s3/system.go
  internal/coord/s3/system_test.go
  internal/coord/server.go
  internal/coord/server_test.go
  internal/coord/web/index.html
  internal/coord/web/js/app.js
  internal/coord/web/js/s3explorer.js
  internal/routing/filter.go
Due: fmt, lint

Make state files human-readable and add filter rule persistence
  internal/coord/admin.go
  internal/coord/server.go
Due: fmt, lint

Fix expired rule handling and race conditions
  internal/coord/admin.go
Due: fmt, lint

Add comprehensive test coverage for filter persistence
  internal/coord/admin.go
Due: fmt, lint

Rename Users→Peers in frontend, remove ID column, fix groups display
  cmd/tunnelmesh/group.go
  internal/auth/authorizer.go
  internal/auth/authorizer_test.go
  internal/auth/binding.go
  internal/auth/binding_test.go
  internal/auth/group.go
  internal/auth/group_test.go
  internal/auth/panel.go
  internal/auth/panel_test.go
  internal/auth/service.go
  internal/auth/service_test.go
  internal/auth/user.go
  internal/auth/user_test.go
  internal/config/config_test.go
  internal/coord/admin.go
  internal/coord/admin_test.go
  internal/coord/s3/fileshare.go
  internal/coord/s3/fileshare_test.go
  internal/coord/s3/system.go
  internal/coord/s3/system_test.go
  internal/coord/server.go
  internal/coord/server_test.go
  internal/coord/web/index.html
  internal/coord/web/js/app.js
  internal/s3bench/simulator/users.go
  internal/s3bench/simulator/users_test.go
  pkg/proto/messages.go
Due: fmt, lint

Add owner name display to S3 objects and file shares
  internal/coord/admin.go
  internal/coord/web/index.html
  internal/coord/web/js/app.js
  internal/coord/web/js/s3explorer.js
Due: fmt, lint

Add admin_peers config, remove all_service_users, rename admins group
  README.md
  cmd/tunnelmesh/group.go
  docker/config/server.yaml
  docs/BENCHMARKING.md
  docs/CLI.md
  docs/CLOUD_DEPLOYMENT.md
  docs/DOCKER.md
  docs/GETTING_STARTED.md
  docs/INTERNAL_PACKET_FILTER.md
  docs/NFS.md
  docs/S3_STORAGE.md
  docs/USER_IDENTITY.md
  docs/WIREGUARD.md
  internal/auth/authorizer.go
  internal/auth/authorizer_test.go
  internal/auth/group.go
  internal/auth/group_test.go
  internal/auth/panel.go
  internal/auth/panel_test.go
  internal/config/config.go
  internal/coord/server.go
  lefthook.yml
  server.yaml.example
  terraform/main.tf
  terraform/modules/tunnelmesh-node/templates/fragments/30-coordinator-config.sh.tpl
  terraform/modules/tunnelmesh-node/variables.tf
  terraform/variables.tf
Due: fmt, lint

Fix unclosed code blocks in README and docs
  README.md
  docs/BENCHMARKING.md
  docs/CLI.md
  docs/CLOUD_DEPLOYMENT.md
  docs/DOCKER.md
  docs/GETTING_STARTED.md
  docs/INTERNAL_PACKET_FILTER.md
  docs/NFS.md
  docs/S3_STORAGE.md
  docs/USER_IDENTITY.md
  docs/WIREGUARD.md
Due: none

Implement peer name caching to fix performance issues
  internal/coord/admin.go
  internal/coord/server.go
Due: fmt, lint

Path conditions:
  fmt: any of: *.go
  lint: any of: *.go
  js-lint: any of: internal/coord/web/js/**/*.js
  js-test: any of: internal/coord/web/js/**/*.js
